* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

/* nav style */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.nav-logo {
    font-size: 24px;
    font-weight: 700;

}

.nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 16px;
    font-weight: 600;

}

/* header banner syle */

.header-banner {

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3A3A3A;
    height: 80vh;

}

.header-banner-title {
    width: 600px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;

}

.header-banner-description {

    width: 500px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;

}

.header-banner-btn {
    font-size: 16px;
    font-weight: 700;
    background: #E02C6D;
    color: #fff;
    padding: 5px 20px;
    border-radius: 40px;
    border: 0;

}

.header-banner-right img {
    width: 440px;
    height: 414px;
    border: 2px solid #F7F0FF;
    border-radius: 50%;



}

.header-banner-right-circle {}

/* header bottom */
.header-bottom {
    height: 110px;
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;

}

/* main section style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular {

    display: flex;
    flex-direction: column;

    align-items: center;
    width: 1120px;
    height: 1667px;
    margin-top: 50px;
    


}

.popular-title {
    font-size: 28px;
    font-weight: 700;


}

.popular-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 50px;


}

.popular-item {
    width: 329px;
    height: 440px;
    padding: 15px 5px 15px 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5px;

    box-shadow: 2px 2px 10px #3A3A3A;


}

.popular-item img {

    width: 320px;
    height: 256px;


}

.popular-item-title {

    font-size: 28px;
    font-weight: 500;
}

.popular-item-subtitle {
    font-size: 24px;
    font-weight: 400;

}

.popular-item-icons {
    font-size: 14px;
    font-weight: 700;

}

.popular-item-description {
    font-size: 14px;
    font-weight: 700;

}

.popular-bottom-link {
    text-decoration: none;
    color: #E02C6D;
    font-size: 18px;
    font-weight: 600;
    padding: 50px 0;
    margin-left: 900px;
}

/* featured style */
.featured {
    width: 1110px;
    height: 270px;
    display: flex;
    gap: 80px;
    margin-top: 50px;

}

.featured-content {
    width: 900px;
    height: 200px;
    margin-top: 40px;

}

.featured-title {

    font-size: 38px;
    font-weight: 700;
}

.featured-btn {
    padding: 10px 25px;
    border: 0;
    background-color: #E02C6D;

    color: #fff;

}

.featured-description {
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0;

}

/* footer style */
footer {
    margin-top: 100px;
    background-color: #0A0826;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;


}

.footer-container h2 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.footer-container p {
    color: #D9DBE1;
    font-size: 16px;
    font-weight: 400;
}